{% extends 'base.twig' %}

{% block metas %}
    <meta property="og:title" content="{{ block('title')|e }}" />
    <meta property="og:description" content="Retrieve wait times for multiples park around the world" />
    <meta name="description" content="Retrieve wait times for multiples park around the world" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Themeparks" />
    <meta property="og:url" content="https://themeparks.senorihl.xyz/" />
    <meta property="og:image:url" content="https://themeparks.senorihl.xyz/favicon-96.png" />
    <meta property="og:image:width" content="96" />
    <meta property="og:image:height" content="96" />
    <meta property="fb:app_id" content="480672509240227" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@senorihl" />
    <meta name="twitter:creator" content="@senorihl" />
    <meta property="og:image" content="https://themeparks.senorihl.xyz/favicon-96.png" />
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "Themeparks",
            "url": "https://themeparks.senorihl.xyz/"
        }
    </script>
{% endblock %}

{% block content %}
    <main role="main" class="flex-shrink-0">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Themeparks</h1>
                <p class="lead">One entry point for multiple parks</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="list-group">
                        {% for themeparkName in themeparksName %}
                            <a href="/{{ themeparksSlug[loop.index0] }}" class="list-group-item list-group-item-action">{{ themeparkName }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
